@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

/* Topnav style */
.topnav {
    background-color: rgb(41, 41, 41);
    overflow: hidden;
    display: flex;
    padding: .75% 1%;
    justify-content: left;
    column-gap: 1%;
}

.topnav button{
    background-color: rgb(61, 61, 61);
    font-family: 'Fira Code', monospace;
    color: white;
    border-style:solid;
}

.topnav button:hover{
    background-color: rgb(88, 88, 88);
    font-family: 'Fira Code', monospace;
    color: white;
    border-style:solid;
}

/* */

p{
    color: white;
    font-family: 'Fira Code', monospace;
}

body{
    background-color: rgb(32, 32, 32);
    margin:0;
    padding:0;
}

h1{
    color: white;
    font-family: 'Fira Code', monospace;
}

h2{
    color: white;
    font-family: 'Fira Code', monospace;
}

h3{
    color: white;
    font-family: 'Fira Code', monospace;
}


ul {
    color: white;
    font-family: 'Fira Code', monospace;
}